:root {
  --title-color: #fdb827;
  --content-color: #edeceb;
  --accent-color1: #ff5e78;
  --accent-color2: #f2a154;
  --accent-color3: #fb743e;
  --accent-color3: #91091e;
}

body {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  line-height: 1.666;
  background-color: var(--content-color);
  margin: -5vw 0 0 0;
}

/* * * * * * * * * * * * * * * *  HEADER  * * * * * * * * * * * * * * * */
.sh-titlebar {
  position: relative;
  height: 20rem;
  /* background-image: linear-gradient(var(--title-color), var(--content-color)); */
  background-color: var(--title-color);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));
}

.sh-title {
  margin: 0;
  padding: 8rem 0 0 0;
  color: #fff;
  text-align: center;
}

.sh-title h1,
.sh-title p {
  margin: 0;
}

/* * * * * * * * * * * * *  CONTENT / ENTRIES  * * * * * * * * * * * * * */
.dictionary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1.5rem;
  padding: 1rem 0 0 0;
}

.dictionary > .term {
  text-align: center;
  max-width: 20rem;
  padding: 2rem;
  border-radius:16px;
  background-color: #fff;
  transition: all 100ms ease-in-out;
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.dictionary > .term:before,
.dictionary > .term:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}
.dictionary > .term:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}

.dictionary > .term > dt {
  margin-bottom: 1rem;
  line-height: 1;
}

dt span {
  font-size: 200%;
  font-weight: 900;
}

.emoji {
  margin: 0 auto 20px;
  display: block;
  font-size: 400%;
}

dd {
  font-size: 92.5%;
  margin-left: 0;
}

dd dt {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: inherit;
}

dd dl {
  font-size: 90%;
  margin: 1rem auto 0 auto;
  letter-spacing: 0.33px;
  max-width: 15rem;
}

dd dl .term {
  margin-bottom: 1rem;
}

/* * * * * * * * * * * * * * * *  DYNAMIC  * * * * * * * * * * * * * * * */
.color-a1 {
  color: var(--accent-color1);
}

.color-a2 {
  color: var(--accent-color2);
}
